<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>你要做什麼？</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body class="bg-secondary">
    <header class="bg-dark">
        <div style="height:80px;" class="text-light text-center h1 py-3">
            今天做什麼？
        </div>
    </header>
    <div id="app" class="row justify-content-center">
        <div class="col-lg-6">
            <div class="input-group mb-3 mt-4">
                <div class="input-group-prepend ">
                    <span class="input-group-text" id="basic-addon1" >新增事項</span>
                </div>
                <input type="text" class="form-control" focus v-model="todo" @keyup.enter.prevent="addList" placeholder="準備要做的事項">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" @click.prevent="addList" type="button">新增</button>
                </div>
            </div>
            <div class="card text-center bg-light">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item" >
                            <a class="nav-link" :class="{ 'active': showActive == 'all'}" @click.prevent="showActive = 'all'" href="javascript:;">全部</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " :class="{ 'active': showActive == 'conduct'}" @click.prevent="showActive = 'conduct'" href="javascript:;">進行中</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" :class="{ 'active': showActive == 'complete'}" @click.prevent="showActive = 'complete'"  href="javascript:;">已完成</a>
                        </li>
                    </ul>
                </div>
                <ul class="list-group list-group-flush text-left" >
                    <li class="list-group-item" v-for="(list,num) in filter" :key="num" @dblclick.prevent="editList(list)" >
                        <div class="d-flex" v-if="list.id !== cacheList.id">
                            <div class="form-check">
                                <input type="checkbox" v-model="list.check" class="form-check-input" :id="list.id">
                                <label class="form-check-label" :class="{'completed' : list.check}" :for="list.id">
                                    {{list.title}}
                                </label>
                            </div>
                                <button type="button" @click.prevent="remove(list)" class="close ml-auto" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <input type="text" class="form-control" v-if="list.id == cacheList.id" v-model="cacheTitle" @keyup.enter.prevent="doneList(list)" @keyup.esc.prevent="canceEdit">
                    </li>
                </ul>
                <div class="card-footer d-flex justify-content-between">
                    <span>還有筆任務 {{undone}} 未完成</span>
                    <a href="javascript:;" @click.prevent="cleanList">清除所有任務</a>
                </div>
                </div>
            </div>
        </div>
        
    <style>
        .completed {
            text-decoration: line-through
        }
    </style>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="all.js"></script>
</body>

</html>